.about{
    background-image: url(../images/about-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 260px;
    padding-bottom: 43px;
}
.about .container { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apple-wrapper{
    border: 5px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    width: 550px;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-title{
    width: 526px;
    font-size: 42px;
    line-height: calc(50/42);
    margin-bottom: 20px;
}
.about-text{
    width: 500px;
    font-size: 16px;
    line-height: calc(24/16);
    margin-bottom: 40px;
}
.icon-wrapper{
    width: 48px;
    height: 48px;

    display: flex;
    background-color: #FEFEFE;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.about-list{
    display: flex;
    gap: 67px;
    margin-bottom: 32px;
}
.about-list-title{
    font-size: 18px;
    line-height: calc(25/18);
    color: var(--main-text);
    margin-bottom: 16px;
}
.about-list-desc{
    width: 253px;
    font-size: 14px;
    line-height: calc(21/14);
    color: var(--main-text);
}
.about-button{
    background-color: var(--main-background);
    color: var(--main-text);
    padding: 10px 22px;
    font-weight: 500;
    font-size: 13px;
    line-height: calc(20/13);
    border-radius: 30px;
    border: 2px solid var(--border-button);
}

.about-button:hover,
.about-button:focus {
    background-color:var(--main-button);
}