<section class="about">
    <div class="container">
    <div class="apple-wrapper">
    <img class="apple-img" src="./images/apple.png" alt="apple" width="396" height="502" />
  </div>
    <div>
    <h2 class="about-title">What’s Special About Our Offerings</h2>
    <p class="about-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <ul class="about-list list">
      <li class="about-list-item">
        <div class="icon-wrapper">
           <svg class="icon" width="32" height="32">
        <use href="./images/icons-svg.svg#icon-rocket"></use>
    </svg> 
        </div>
        <h3 class="about-list-title">Fasest Delivery</h3>
        <p class="about-list-desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Suspendisse varius enim in eros.
        </p>
      </li>
      <li class="about-list-item">
        <div class="icon-wrapper">
            <svg class="icon" width="32" height="32">
            <use href="./images/icons-svg.svg#icon-pointer"></use>
          </svg>
        </div>
        <h3 class="about-list-title">Easy To Order</h3>
        <p class="about-list-desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Suspendisse varius enim in eros.
        </p>
      </li>
    </ul>
    <button class="about-button" type="button">Order Now</button>
  </div>
</div>
  </section>