<section class="hero">
    <div class="container">
        <div class="content">
            <h1 class="hero-tittle">Enjoy Your Favorite Food From Anywhere</h1>
            <p class="hero-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
                varius enim in eros elementum tristique. Duis cursus, mi quis viverra
                ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
            </p>
            <button class="order-button" type="button">Order Now</button>
        </div>

        <div class="img-wrapper">
            <img src="./images/meal1.png" alt="meatballs with sauce" width="528" height="528" />
        </div>

    </div>

</section>